@{
    ViewData["Title"] = "Create Customer";
}

<h2>Create Customer</h2>

<form>

    <div class="mb-3">
        <label>Customer Code</label>
        <input class="form-control" />
    </div>

    <div class="mb-3">
        <label>Name</label>
        <input class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input class="form-control" />
    </div>

    <button class="btn btn-success">
        Save
    </button>

</form>