@{
    ViewData["Title"] = "Customers";
}

<h2>Customers</h2>

<a asp-action="Create"
   class="btn btn-primary mb-3">
    Add Customer
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Customer Code</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>