<h2>Create Payment</h2>

<form>

    <div class="mb-3">
        <label>Amount Paid</label>
        <input class="form-control" />
    </div>

    <button class="btn btn-success">
        Save
    </button>

</form>